@model Textil.Web.Models.Tecido
@{
    ViewBag.Title = "Consulta de Tecidos";
}

<h2>Consultar Tecido</h2>

<div>
    @Html.DisplayNameFor(x => x.Codigo)
</div>
<div>
    @Html.DisplayFor(x => x.Codigo)
</div>
<div>
    @Html.DisplayNameFor(x => x.Nome)
</div>
<div>
    @Html.DisplayFor(x => x.Nome)
</div>
<div>
    @Html.DisplayNameFor(x => x.Cor)
</div>
<div>
    @Html.DisplayFor(x => x.Cor)
</div>
<div>
    @Html.DisplayNameFor(x => x.Categoria)
</div>
<div>
    @Html.DisplayFor(x => x.Categoria)
</div>

